/* Common */
* {
  margin: 0;
}

/* Container */
.grid-container {
  width: 224px;
  height: 224px;
  border: thin solid black;
  margin: 0;
  padding: 0;
  display: grid;
}

.grid-square {
  padding: 0;
  display: inline-block;
  border: none;
}
